.card{
    max-width: 40rem;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}

.test{
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: black;
}

.img-div{
    max-width: 40rem;
}
.add_button{
    margin-bottom: 20px;
}

#tags_select{
    height: 60rem;
}